# Python
__pycache__/
*.py[cod]
*.pyd

# Entornos
.venv/
venv/
env/
pip-wheel-metadata/

# Tests/cobertura/tipos
.pytest_cache/
.mypy_cache/
.coverage*
htmlcov/

# Variables de entorno
.env
.env.*
*.env

# Datos locales (Flask instance + SQLite)
instance/*
!instance/.gitkeep
*.db
*.sqlite3

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
